<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ثبت اطلاعات</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>ورود اطلاعات</h1>
        </div>
            <form method="POST" action="{{ url_for('questions', question_number=1) }}">
                <label>نام:</label>
                <input type="text" name="first_name" placeholder="نام خود را وارد کنید" required>
                
                <label>نام خانوادگی:</label>
                <input type="text" name="last_name" placeholder="نام خانوادگی خود را وارد کنید" required>
                
                <label>شماره تلفن:</label>
                <input type="text" name="phone_number" placeholder="شماره تلفن خود را وارد کنید" required>
                
                <label>آدرس جیمیل (اختیاری):</label>
                <input type="email" name="gmail_address" placeholder="آدرس جیمیل خود را وارد کنید">
                
                <button type="submit">شروع سوالات</button>
            </form>
    </div>
</body>
</html>
