<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سوالات</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>سوال {{ question_number }} از 16</h1>
        </div>
        <form method="POST" action="{{ url_for('questions', question_number=question_number) }}">
            <p>{{ question }}</p>
            
            {% for choice in choices %}
            <label>
                <input type="radio" name="answer" value="{{ choice }}" required> {{ choice }}
            </label><br>
            {% endfor %}
            
            <button type="submit">سوال بعدی</button>
        </form>
    </div>
</body>
</html>
