<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>خلاصه پاسخ‌ها</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>خلاصه پاسخ‌های شما</h1>
        </div>
        <ul>
            {% for question, answer in answers.items() %}
              <li>{{ question }}: {{ answer }}</li>
            {% endfor %}
        </ul>
        <button onclick="window.print()">چاپ</button>
    </div>
</body>
</html>
